@font-face {
    font-family: 'Calculator';
    src: url(font/Calculator.ttf);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: rgb(49,190,217);
    background: -moz-linear-gradient(0deg, rgba(49,190,217,1) 0%, rgba(16,228,158,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(49,190,217,1) 0%, rgba(16,228,158,1) 100%);
    background: linear-gradient(0deg, rgba(49,190,217,1) 0%, rgba(16,228,158,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#31bed9",endColorstr="#10e49e",GradientType=1);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    height: 750px;
    width: 550px;
    background: rgb(189,189,189);
    background: -moz-linear-gradient(45deg, rgba(189,189,189,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(189,189,189,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(45deg, rgba(189,189,189,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bdbdbd",endColorstr="#ffffff",GradientType=1);
    border-radius: 45px;
    position: relative;
    box-shadow: 0 0 20px 0 #0008, inset 0 0 5px #0006, inset 5px -5px 10px #0002;
}

.display {
    background-color: #98aa9e;
    height: 25%;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3%;
    border-radius: 22.5px;
    box-shadow: inset 0 0px 10px #0003, 0 0 0 2px #0002;
    font-family: 'Calculator', serif;
    overflow: hidden;
}

.display::after {
    content: "";
    height: 770px;
    width: 370px;
    position: absolute;
    border-radius: 50%;
    right: -245px;
    top: -285px;
    transform: rotate(300deg);
    background: linear-gradient(60deg, transparent 0%, rgba(255,255,255,0.15) 100%);
}

.first-line {
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 95px;
    color: darkslategray;
    display: flex;
    gap: 10px;
}

.first-line-calcs {
    font-size: 65px;
    align-self: center;
}

.secondary-line {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 50px;
    color: darkslategray;
    display: flex;
    gap: 10px;
}

.secondary-line-calcs {
    font-size: 35px;
    align-self: center;
}

.buttons-container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 105px);
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

.button {
    font-size: 60px;
    border: none;
    box-shadow: -1px 2px 5px 0px #0008, inset 0 0 2px #0006;
    border-radius: 10px;
    color: #51888a;
    cursor: pointer;
}

.button .multiplier-operator {
    transform: rotate(45deg);
}

.button.equal {
    background-color: #51888a;
    color: whitesmoke;
}

.button.del,
.button.clear {
    background-color: lightcoral;
    color: whitesmoke; 
}

.button.double-space {
    grid-column: span 2;
}

.on-off {
    display: flex;
    position: absolute;
    align-items: center;
    gap: 10px;
    top: 29%;
    right: 10%;
    font-style: italic;
    color: tan;
}

.on-off-button {
    border: none;
    background-color: tan;
    border-radius: 50%;
    width: 35px;
    color: whitesmoke;
    box-shadow: -1px 1px 4px -2px #0008, inset 0 0 3px #0002;
    cursor: pointer;
}

.button:active {
    box-shadow: inset 0 0 10px 0 #0008, 0 0 3px 0 #0006;
    font-size: 58px;
}

.on-off-button:active {
    box-shadow: inset 0 0 4px 0 #0008, 0 0 2px 0 #0006;
    font-size: 12.7px;
}

.displayOnOff {
    display: none;
}

footer {
    position: absolute;
    bottom: 0;
    color: white;
    font-family: 'Calculator';
    font-size: 2em;
}

/* FOR MOBILE */
@media screen and (max-width: 749px) {
    .container {
        transform: scale(0.9);
    }
    .buttons-container {
        grid-template-columns: repeat(4, 80px);
    }
    .first-line {
        font-size: 65px;
    }
    .secondary-line {
        font-size: 45px;
    }
}